@charset "UTF-8";

.topo {
	width: 100%;
	height: 10%;
	padding: 7px;
}

.topo-submenu, .ui-menu-list {
	border-radius: 0px 0px 10px 10px;
	background-color: gold;
	border: 0px;
	border: none;
}

.topocuacu {
	background-color: gold;
	width: 100%;
	height: 20%;
	padding: 20px 20px 20px 20px;
}

.erro_titulo {
	margin-left: 17.5%;
	color: white;
}

.erro{
	margin-top: 12%;
	margin-left: 35%;	
}


.login_corpo{
	margin-left: 40%;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:20%;
	margin-bottom: 0px;
	margin-right: 43%;
	border: 2px solid;
	border-color: black;
}

.btn_logar{
	margin-left:  32%;
	margin-top:	10px;
}


.login_interno{
	color:white;

}

.login_values_txt {
		margin-right:10px;
		margin-bottom:50px;
	}

.erro_subtitulo {
	color: white;	
}
.conteudo {
	background-color: #3F51B5;
	color: #9E9E9E;
	height: 80%;
}

html, body {
	height: 70%;
	widows: 100%;
	color: black;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	background-color: #607D8B;
	font-size: 13px;
}

h1, h2, h3 {
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.logo {
	margin-left: 20px;
	position: absolute;
}

.cabecalho {
	background-color: #607D8B;
	width: 100%;
	height: 10%;
}

.conteudo {
	overflow: hidden;
	position: absolute;
	width: 79%;
	bottom: 0px;
}

.login {
	width: 400px;
	height: 300px;
	margin-top: 10%;
	margin-bottom: 10%;
	border: 2px solid #689f38;
	padding: 10px;
	background: #fff;
}

.cadastro-pessoa, .cadastro-login, .cadastro-convenio,
	.cadastro-solicitacao, .cadastro-profissao {
	width: 800px;
	border-radius: 10px 80px 10px 80px;
	padding: 50px;
	margin-top: 5%;
	margin-bottom: 5%;
	background: #fff;
	background-color: #fff;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.lista-pessoas {
	padding: 1%;
	margin-top: 5%;
	margin-bottom: 5%;
	background: #fff;
}

.lista {
	border-radius: 10px 80px 10px 80px;
	padding: 50px;
	margin-top: 5%;
	margin-bottom: 5%;
	background: #fff;
	background-color: #fff;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.redacao {
	border-radius: 10px 80px 10px 80px;
	padding: 1%;
	margin-top: 1%;
	margin-bottom: 5%;
	background: #fff;
	background-color: #fff;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.error-button {
	padding: 1%;
	margin-top: 1%;
	margin-bottom: 5%;
	width: 80px;
	height: 160px;
	background-color: #ff7979;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.link {
	color: #ff0006;
	text-decoration: none;
}

.link:hover {
	color: #ff0006;
	font-weight: bold;
}